<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.obxlabs.Bastard.jlewis.Bastard</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Jason E. Lewis</string>
			<key>DefaultPoem</key>
			<true/>
			<key>Title</key>
			<string>Bastard</string>
			<key>TextVersion</key>
			<integer>1</integer>
			<key>TextFile</key>
			<string>smooth</string>
			<key>Properties-iPad-Retina</key>
			<dict>
				<key>FontFile</key>
				<string>Catalogue36</string>
				<key>FontTessellationFile</key>
				<string>Catalogue36</string>
				<key>BackgroundGlyphScale</key>
				<integer>60</integer>
				<key>BackgroundGlyphWanderSpeed</key>
				<real>0.00275</real>
				<key>TotalBackgroundGlyphs</key>
				<integer>30</integer>
				<key>TessDetailLow</key>
				<integer>5</integer>
				<key>TessDetailHigh</key>
				<integer>7</integer>
				<key>UnfoldSpeed</key>
				<real>0.5</real>
				<key>FoldSpeed</key>
				<integer>1</integer>
				<key>SentenceExtractPushStrength</key>
				<integer>5</integer>
				<key>WordExtractPushStrength</key>
				<integer>3</integer>
			</dict>
			<key>Properties-iPad</key>
			<dict>
				<key>FontFile</key>
				<string>Catalogue36</string>
				<key>FontTessellationFile</key>
				<string>Catalogue36</string>
				<key>BackgroundGlyphScale</key>
				<integer>60</integer>
				<key>BackgroundGlyphWanderSpeed</key>
				<real>0.00275</real>
				<key>TotalBackgroundGlyphs</key>
				<integer>30</integer>
				<key>TessDetailLow</key>
				<integer>5</integer>
				<key>TessDetailHigh</key>
				<integer>7</integer>
				<key>UnfoldSpeed</key>
				<real>0.5</real>
				<key>FoldSpeed</key>
				<integer>1</integer>
				<key>SentenceExtractPushStrength</key>
				<integer>5</integer>
				<key>WordExtractPushStrength</key>
				<integer>3</integer>
			</dict>
			<key>Properties-iPhone-568h</key>
			<dict>
				<key>FontFile</key>
				<string>Catalogue18</string>
				<key>FontTessellationFile</key>
				<string>Catalogue18</string>
				<key>BackgroundGlyphScale</key>
				<integer>50</integer>
				<key>BackgroundGlyphWanderSpeed</key>
				<real>0.00475</real>
				<key>TotalBackgroundGlyphs</key>
				<integer>25</integer>
				<key>TessDetailLow</key>
				<integer>3</integer>
				<key>TessDetailHigh</key>
				<integer>5</integer>
				<key>UnfoldSpeed</key>
				<real>0.2125</real>
				<key>FoldSpeed</key>
				<real>0.425</real>
				<key>SentenceExtractPushStrength</key>
				<real>2.125</real>
				<key>WordExtractPushStrength</key>
				<real>1.0625</real>
			</dict>
			<key>Properties-iPhone-Retina</key>
			<dict>
				<key>FontFile</key>
				<string>Catalogue18</string>
				<key>FontTessellationFile</key>
				<string>Catalogue18</string>
				<key>BackgroundGlyphScale</key>
				<integer>50</integer>
				<key>BackgroundGlyphWanderSpeed</key>
				<real>0.00475</real>
				<key>TotalBackgroundGlyphs</key>
				<integer>25</integer>
				<key>TessDetailLow</key>
				<integer>3</integer>
				<key>TessDetailHigh</key>
				<integer>5</integer>
				<key>UnfoldSpeed</key>
				<real>0.5</real>
				<key>FoldSpeed</key>
				<integer>1</integer>
				<key>SentenceExtractPushStrength</key>
				<integer>5</integer>
				<key>WordExtractPushStrength</key>
				<integer>3</integer>
			</dict>
			<key>Properties-iPhone</key>
			<dict>
				<key>FontFile</key>
				<string>Catalogue18</string>
				<key>FontTessellationFile</key>
				<string>Catalogue18</string>
				<key>BackgroundGlyphScale</key>
				<integer>50</integer>
				<key>BackgroundGlyphWanderSpeed</key>
				<real>0.00475</real>
				<key>TotalBackgroundGlyphs</key>
				<integer>25</integer>
				<key>TessDetailLow</key>
				<integer>3</integer>
				<key>TessDetailHigh</key>
				<integer>5</integer>
				<key>UnfoldSpeed</key>
				<real>0.5</real>
				<key>FoldSpeed</key>
				<integer>1</integer>
				<key>SentenceExtractPushStrength</key>
				<integer>5</integer>
				<key>WordExtractPushStrength</key>
				<integer>3</integer>
			</dict>
			<key>FontSentenceOpacity</key>
			<integer>240</integer>
			<key>TouchOffset</key>
			<real>32.5</real>
			<key>ApproachSpeed</key>
			<integer>3</integer>
			<key>ApproachThreshold</key>
			<integer>20</integer>
			<key>UnfoldRepeat</key>
			<integer>8</integer>
			<key>UnfoldSpeedDecay</key>
			<integer>1</integer>
			<key>FoldRepeat</key>
			<integer>8</integer>
			<key>FoldSpeedDecay</key>
			<integer>1</integer>
			<key>SentenceExtractPushSpinMin</key>
			<integer>16</integer>
			<key>SentenceExtractPushSpinMax</key>
			<integer>8</integer>
			<key>SentenceExtractPushAngle</key>
			<integer>8</integer>
			<key>CtrlPtFriction</key>
			<real>0.8</real>
			<key>CtrlPtSpeed</key>
			<integer>8</integer>
			<key>SnapFriction</key>
			<real>0.75</real>
			<key>SnapSpeed</key>
			<integer>6</integer>
			<key>MiddleWordScale</key>
			<integer>3</integer>
			<key>MiddleWordScaleSpeed</key>
			<real>0.0002</real>
			<key>MiddleWordScaleFriction</key>
			<real>0.97</real>
			<key>MiddleWordOpacity</key>
			<integer>180</integer>
			<key>WordWanderThreshold</key>
			<integer>1</integer>
			<key>WordExtractPushSpinMin</key>
			<integer>32</integer>
			<key>WordExtractPushSpinMax</key>
			<integer>8</integer>
			<key>WordExtractPushAngle</key>
			<integer>12</integer>
			<key>WordFadeSpeed</key>
			<integer>5000</integer>
			<key>MiddleWordWanderRange</key>
			<integer>15</integer>
			<key>MiddleWordWanderSpeed</key>
			<real>0.00225</real>
			<key>BackgroundGlyphScale</key>
			<integer>60</integer>
			<key>BackgroundGlyphScaleSpeed</key>
			<real>0.01</real>
			<key>BackgroundGlyphScaleFriction</key>
			<real>0.96</real>
			<key>BackgroundGlyphOpacity</key>
			<integer>100</integer>
			<key>GlyphWanderThreshold</key>
			<integer>5</integer>
			<key>GlyphWanderFriction</key>
			<real>0.98</real>
			<key>GlyphFadeSpeed</key>
			<integer>5000</integer>
			<key>BackgroundGlyphWanderRange</key>
			<integer>35</integer>
			<key>BackgroundGlyphWanderSpeed</key>
			<real>0.00275</real>
		</dict>
	</array>
</dict>
</plist>
